In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float
import pandas as pd

In [2]:
# Create an engine to the SQLite dB
engine = create_engine("sqlite:///Global_Land_Temps.sqlite")

In [3]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [4]:
# Load the cleaned csv file into a pandas dataframe
new_df = pd.read_csv("All Datasets/climate-change-earth-surface-temperature-data/US_Cities_GLT.csv", low_memory=False)

In [5]:
# Verify the datatypes
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294522 entries, 0 to 294521
Data columns (total 7 columns):
dt                               294522 non-null object
AverageTemperature               294522 non-null float64
AverageTemperatureUncertainty    294522 non-null float64
City                             294522 non-null object
Country                          294522 non-null object
Latitude                         294522 non-null object
Longitude                        294522 non-null object
dtypes: float64(2), object(5)
memory usage: 15.7+ MB

In [6]:
# Use `declarative_base` from SQLAlchemy to model the table as an ORM class
Base = declarative_base()
class US_Cities(Base):
    __tablename__ = 'US_Cities_GLT'

    id = Column(Integer, primary_key=True)
    dt = Column(Text)
    AverageTemperature = Column(Float)
    AverageTemperatureUncertainty = Column(Float)
    City = Column(Text)
    Country = Column(Text)
    Latitude = Column(Text)
    Longitude = Column(Text)
   
    def __repr__(self):
        return "id={self.id}, name={self.name}"

In [7]:
# Use `create_all` to create the table in the database
Base.metadata.create_all(engine)

In [8]:
# Use Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata as well
data = new_df.to_dict(orient='records')

In [9]:
# Data is just a list of dictionaries that represent each row of data
print(data[:5])

[{'dt': '1918-01-01', 'AverageTemperature': 1.2830000000000004, 'AverageTemperatureUncertainty': 0.325, 'City': 'Abilene', 'Country': 'United States', 'Latitude': '32.95N', 'Longitude': '100.53W'}, {'dt': '1918-02-01', 'AverageTemperature': 9.244, 'AverageTemperatureUncertainty': 0.319, 'City': 'Abilene', 'Country': 'United States', 'Latitude': '32.95N', 'Longitude': '100.53W'}, {'dt': '1918-03-01', 'AverageTemperature': 14.636, 'AverageTemperatureUncertainty': 0.41600000000000004, 'City': 'Abilene', 'Country': 'United States', 'Latitude': '32.95N', 'Longitude': '100.53W'}, {'dt': '1918-04-01', 'AverageTemperature': 16.227999999999998, 'AverageTemperatureUncertainty': 0.44299999999999995, 'City': 'Abilene', 'Country': 'United States', 'Latitude': '32.95N', 'Longitude': '100.53W'}, {'dt': '1918-05-01', 'AverageTemperature': 23.049, 'AverageTemperatureUncertainty': 0.486, 'City': 'Abilene', 'Country': 'United States', 'Latitude': '32.95N', 'Longitude': '100.53W'}]

In [10]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [11]:
# Save the reference to the table as a variable called `table`
table = sqlalchemy.Table('US_Cities_GLT', metadata, autoload=True)

In [12]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(table.insert(), data)

In [24]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from US_Cities_GLT limit 5").fetchall()

[(1, '1918-01-01', 1.2830000000000004, 0.325, 'Abilene', 'United States', '32.95N', '100.53W'),
 (2, '1918-02-01', 9.244, 0.319, 'Abilene', 'United States', '32.95N', '100.53W'),
 (3, '1918-03-01', 14.636, 0.41600000000000004, 'Abilene', 'United States', '32.95N', '100.53W'),
 (4, '1918-04-01', 16.227999999999998, 0.44299999999999995, 'Abilene', 'United States', '32.95N', '100.53W'),
 (5, '1918-05-01', 23.049, 0.486, 'Abilene', 'United States', '32.95N', '100.53W')]